
<div class="hk_detail_form">
  <form nz-form [formGroup]="validateForm">
    <div nz-row [nzGutter]="40">
      <div nz-col [nzSpan]="12" nz-row [nzOffset]="6">
        <div nz-col nz-form-label [nzSpan]="5">
          <label nz-form-item-required>活动名称</label>
        </div>
        <div  nz-col nz-form-item [nzSpan]="12">
          <nz-input type="text" [(ngModel)]="activity.name" formControlName="name"></nz-input>
        </div>
      </div>
      <div nz-col [nzSpan]="12" nz-row [nzOffset]="6">
        <div nz-col nz-form-label [nzSpan]="5">
          <label nz-form-item-required>活动类型</label>
        </div>
        <div nz-col nz-form-item [nzSpan]="12">
          <nz-select  [(ngModel)]="activity.activity_type" formControlName="activityType">
            <!--<nz-option [nzLabel]="'秒杀'" [nzValue]="'0'"></nz-option>-->
            <nz-option [nzLabel]="'拼团'" [nzValue]="'SPELL_GROUP'"></nz-option>
            <!--<nz-option [nzLabel]="'优选'" [nzValue]="'2'"></nz-option>-->
            <nz-option [nzLabel]="'试用'" [nzValue]="'FREE'"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col [nzSpan]="12" nz-row [nzOffset]="6">
        <div nz-col nz-form-label [nzSpan]="5">
          <label nz-form-item-required>活动平台</label>
        </div>
        <div nz-col nz-form-item [nzSpan]="12">
          <nz-select [(ngModel)]="activity.target" formControlName="target">
            <nz-option [nzLabel]="'全部'" [nzValue]="'3'"></nz-option>
            <nz-option [nzLabel]="'小程序'" [nzValue]="'0'"></nz-option>
            <nz-option [nzLabel]="'app'" [nzValue]="'1'"></nz-option>
            <nz-option [nzLabel]="'网站'" [nzValue]="'2'"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col [nzSpan]="12" nz-row [nzOffset]="6">
        <div nz-col nz-form-label [nzSpan]="5">
          <label nz-form-item-required>开始时间</label>
        </div>
        <div nz-col nz-form-item [nzSpan]="15">
          <nz-datepicker style="width: 50%;"  [(ngModel)]="activity.start_date" [nzDisabledDate]="disabledStartDate" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'开始时间'" formControlName="start"></nz-datepicker>
        </div>
      </div>
      <div nz-col [nzSpan]="12" nz-row [nzOffset]="6">
        <div nz-col nz-form-label [nzSpan]="5">
          <label nz-form-item-required>结束时间</label>
        </div>
        <div nz-col nz-form-item [nzSpan]="15">
          <nz-datepicker style="width: 47%;"  [(ngModel)]="activity.end_date" [nzDisabledDate]="disabledEndDate" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'结束时间'" formControlName="end"></nz-datepicker>`
        </div>
      </div>
      <div nz-col [nzSpan]="12" nz-row [nzOffset]="6" *ngIf="activity.activity_type=='SPELL_GROUP'?true:false">
        <div nz-col nz-form-label [nzSpan]="5">
          <label nz-form-item-required>人数</label>
        </div>
        <div nz-col nz-form-item [nzSpan]="12">
          <nz-input-number [(ngModel)]="activity.num" [nzMin]="0" formControlName="number"></nz-input-number>
        </div>
      </div>
      <div nz-col [nzSpan]="12" nz-row [nzOffset]="6">
        <div nz-col nz-form-label [nzSpan]="5">
          <label nz-form-item-required>活动折扣</label>
        </div>
        <div nz-col nz-form-item [nzSpan]="12">
          <nz-input-number [(ngModel)]="activity.discount"  [nzMin]="0" formControlName="discount"></nz-input-number>
        </div>
      </div>
      <div nz-col [nzSpan]="12" nz-row [nzOffset]="6">
        <div nz-col nz-form-label [nzSpan]="5">
          <label nz-form-item-required>状态</label>
        </div>
        <div nz-col nz-form-item [nzSpan]="15">
          <nz-switch [(ngModel)]="activity.status"  formControlName="status">
            <span checked>开启</span>
            <span unchecked>结束</span>
          </nz-switch>
        </div>
      </div>
      <div nz-col [nzSpan]="12" nz-row [nzOffset]="6">
        <div nz-col nz-form-label [nzSpan]="5">
          <label nz-form-item-required>活动描述</label>
        </div>
        <div nz-col nz-form-item [nzSpan]="15">
          <nz-input [nzType]="'textarea'" [(ngModel)]="activity.describes" formControlName="description"></nz-input>
        </div>
      </div>
    </div>
  </form>
</div>
<div nz-row>
  <div nz-col [nzSpan]="24" style="text-align: center;">
    <button nz-button [nzType]="'primary'" (click)="save()">保存</button>
    <button nz-button (click)="back()">返回</button>
  </div>
</div>
