<div class="good_activity_tool">
  <nz-input [nzType]="'text'" [nzPlaceHolder]="'输入关键字'" [nzSize]="'large'"
            [(ngModel)]="searchKey" [class]="'search_input'">
    <ng-template #addOnAfter>
      <i class="anticon anticon-search search" (click)="search()"></i>
    </ng-template>
  </nz-input>
  <button nz-button [nzType]="'primary'" class="btn_search_tool" (click)="concatConfirm()">
    <span>关联</span>
  </button>
  <div class="select-contain">
    <span class="tool_item_label">活动</span>
    <nz-select [(ngModel)]="curActivity" class="activity-select">
      <nz-option *ngFor="let item of activityList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
    </nz-select>
  </div>
  <a style="margin-left:8px;font-size:12px;" (click)="isCollapse =!isCollapse">
    条件
    <i  [class]="!isCollapse?'anticon anticon-down':'anticon anticon-up'"></i>
  </a>
</div>
<nz-card class="condition_template" [class.hide]="!isCollapse">
  <ng-template #body>
    <form nz-form>
      <div nz-row [nzGutter]="40">
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label>商品编号</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-input [nzSize]="'large'" [nzPlaceHolder]="'商品编号'" [(ngModel)]="condition.goodNo" name="goodNo"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label>品牌</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-select
                style="height: 29px;"
                nzAllowClear
                [nzPlaceHolder]="'请选择'"
                [(ngModel)]="condition.brandId"
                name="brand">
                <nz-option [nzLabel]="'耐克'" [nzValue]="0"></nz-option>
                <nz-option [nzLabel]="'阿迪'" [nzValue]="1"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label >商品类目</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-select [nzSize]="'large'" nzAllowClear [(ngModel)]="condition.categoryId"  [nzPlaceHolder]="'商品类目'"  [style.height]="'29px'" name="categoryId">
                <nz-option [nzLabel]="data.category_name" [nzValue]="data.id" *ngFor="let data of categoryList"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div style="text-align: center">
      <button nz-button [nzType]="'primary'" (click)="search()">
        <i class="anticon anticon-search"></i><span>搜索</span>
      </button>
    </div>
  </ng-template>
</nz-card>
<nz-table #goodListTable [nzAjaxData]="goodList" [nzPageSize]="page.pageSize"
          [nzPageIndex]="page.pageNo" [nzShowSizeChanger]="true" [nzShowTotal]="true" (nzPageIndexChange)="pageChangeHandler($event)"
          [nzTotal]="page.total" [nzShowQuickJumper]="true" (nzPageSizeChange)="pageSizeChangeHandler($event)">
  <thead nz-thead>
  <tr>
    <th nz-th [nzCheckbox]="true">
      <label #checkboxAll nz-checkbox  [(ngModel)]="checkAll" [nzDisabled]="doCheckAll" (ngModelChange)="selectItem(checkAll,goodList,0)">
      </label>
    </th>
    <th nz-th [nzWidth]="'130'"><span>商品图片</span></th>
    <th nz-th [nzWidth]="'130'"><span>商品编码</span></th>
    <th nz-th [nzWidth]="'100'"><span>名称</span></th>
    <th nz-th [nzWidth]="'60'"><span>单价</span></th>
    <th nz-th [nzWidth]="'60'"><span>参加活动库存</span></th>
    <th nz-th [nzWidth]="'60'"><span>库存</span></th>
    <th nz-th [nzWidth]="'60'"><span>操作</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of goodListTable.data;let index = index;">
    <td nz-td [nzCheckbox]="true">
      <label #checkbox  nz-checkbox [(ngModel)]="data.checked"  (ngModelChange)="selectItem(data.checked,data.id,1,data.inStock,index)">
      </label>
    </td>
    <td nz-td><img [src]="picUrl+data.main_image_url" alt="" class="list_pic"></td>
    <td nz-td>{{data.good_no}}</td>
    <td nz-td>{{data.good_name}}</td>
    <td nz-td>{{(data.price/100).toFixed(2)}}</td>
    <td nz-td>
      <nz-input-number [(ngModel)]="data.inStock" [nzMin]="0" (nzBlur)="compareStock($event.target.value,data.stock,index)"></nz-input-number>
    </td>
    <td nz-td>{{data.stock}}</td>
    <td nz-td>
      <a>编辑</a>
    </td>
  </tr>
  </tbody>
</nz-table>

