<div class="goodList_tool">
  <nz-input [nzType]="'text'" [nzPlaceHolder]="'输入关键字'" [nzSize]="'large'"
            [(ngModel)]="condition.searchKey" [class]="'search_input'">
    <ng-template #addOnAfter>
      <i class="anticon anticon-search search" (click)="search()"></i>
    </ng-template>
  </nz-input>
  <button nz-button [nzType]="'danger'"  class="btn" (click)="batchGoodDown('OFF_SALE')">
    <span>下架</span>
  </button>
  <button nz-button [nzType]="'primary'" class="btn" (click)="batchGoodDown('ON_SALE')">
    <span>上架</span>
  </button>
  <button nz-button [nzType]="'primary'" class="btn" (click)="skipToPage('/good-add')">
    <span>新增</span>
  </button>
  <a style="margin-left:8px;font-size:12px;" (click)="isCollapse =!isCollapse">
    条件
    <i  [class]="!isCollapse?'anticon anticon-down':'anticon anticon-up'"></i>
  </a>
</div>
<nz-card class="condition_template" [class.hide]="!isCollapse">
  <ng-template #body>
    <form nz-form>
      <div nz-row [nzGutter]="40">
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label>商品编号</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-input [nzSize]="'large'" [nzPlaceHolder]="'商品编号'" [(ngModel)]="condition.goodNo" name="goodNo"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label >时间</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-datepicker style="width: 50%;"  [(ngModel)]="condition.startDate" [nzDisabledDate]="disabledStartDate" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'开始时间'" name="start"></nz-datepicker>
              <nz-datepicker style="width: 47%;"  [(ngModel)]="condition.endDate" [nzDisabledDate]="disabledEndDate" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'结束时间'" name="end"></nz-datepicker>`
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label>品牌</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-select
                style="height: 29px;"
                nzAllowClear
                [nzPlaceHolder]="'请选择'"
                [(ngModel)]="condition.brandId"
                name="brand">
                <nz-option [nzLabel]="'耐克'" [nzValue]="0"></nz-option>
                <nz-option [nzLabel]="'阿迪'" [nzValue]="1"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label >商品状态</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-select [nzSize]="'large'" [(ngModel)]="condition.saleStatus"
                         [nzPlaceHolder]="'商品状态'"
                         nzAllowClear
                         [style.height]="'29px'" name="saleStatus">
                <nz-option [nzLabel]="'上架'" [nzValue]="'ON_SALE'"></nz-option>
                <nz-option [nzLabel]="'下架'" [nzValue]="'OFF_SALE'"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label >商品类目</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-select [nzSize]="'large'" nzAllowClear [(ngModel)]="condition.categoryId"  [nzPlaceHolder]="'商品类目'"  [style.height]="'29px'" name="categoryId">
                <nz-option [nzLabel]="data.category_name" [nzValue]="data.id" *ngFor="let data of categoryList"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label >热销</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-select [nzSize]="'large'" nzAllowClear [(ngModel)]="condition.isHot"  [nzPlaceHolder]="'热销'"  [style.height]="'29px'" name="hot">
                <nz-option [nzLabel]="'是'" [nzValue]="'HOT'"></nz-option>
                <nz-option [nzLabel]="'否'" [nzValue]="'NOT_HOT'"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label >新品</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-select [nzSize]="'large'" nzAllowClear [(ngModel)]="condition.isNew"  [nzPlaceHolder]="'新品'"  [style.height]="'29px'" name="new">
                <nz-option [nzLabel]="'是'" [nzValue]="'IS_NEW'"></nz-option>
                <nz-option [nzLabel]="'否'" [nzValue]="'NOT_NEW'"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label >包邮</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-select [nzSize]="'large'" nzAllowClear [(ngModel)]="condition.isFreight" [nzPlaceHolder]="'包邮'"  [style.height]="'29px'" name="email">
                <nz-option [nzLabel]="'是'" [nzValue]="'FREIGHT'"></nz-option>
                <nz-option [nzLabel]="'否'" [nzValue]="'UN_FREIGHT'"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div style="text-align: center">
      <button nz-button [nzType]="'primary'" (click)="search()">
        <i class="anticon anticon-search"></i><span>搜索</span>
      </button>
    </div>
  </ng-template>
</nz-card>
<nz-table #goodListTable [nzAjaxData]="goodList" [nzPageSize]="page.pageSize"
          [nzPageIndex]="page.pageNo" [nzShowSizeChanger]="true" [nzShowTotal]="true"
          (nzPageIndexChange)="pageChangeHandler($event)"
          [nzTotal]="page.total" [nzShowQuickJumper]="true" (nzPageSizeChange)="pageSizeChangeHandler($event)">
  <thead nz-thead>
  <tr>
    <th nz-th [nzCheckbox]="true" [nzWidth]="'60px'">
      <label #checkboxAll nz-checkbox  [(ngModel)]="checkAll" [nzDisabled]="doCheckAll" (ngModelChange)="selectItem(checkAll,goodList,0)">
      </label>
    </th>
    <th nz-th [nzWidth]="'80px'"><span>商品图片</span></th>
    <th nz-th [nzWidth]="'130px'"><span>商品编码</span></th>
    <th nz-th [nzWidth]="'200px'"><span>名称</span></th>
    <th nz-th [nzWidth]="'60px'"><span>单价</span></th>
    <th nz-th [nzWidth]="'60px'"><span>库存</span></th>
    <th nz-th [nzWidth]="'60px'"><span>访问量</span></th>
    <th nz-th [nzWidth]="'60px'"><span>状态</span></th>
    <th nz-th [nzWidth]="'60px'"><span>操作</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of goodListTable.data;let index = index;">
    <td nz-td [nzCheckbox]="true">
      <label #checkbox  nz-checkbox [(ngModel)]="data.checked"  (ngModelChange)="selectItem(data.checked,data.id,1,index)">
      </label>
    </td>
    <td nz-td><img [src]="picUrl+data.main_image_url.replace('.','_60x60.')" alt="" class="list_pic"></td>
    <!--<td nz-td><img [src]="picUrl+data.mainImgUrl.replace('.','_220x220.')" alt="" class="list_pic"></td>-->
    <td nz-td>{{data.good_no}}</td>
    <td nz-td>{{data.good_name}}</td>
    <td nz-td>{{(data.price/100).toFixed(2)}}</td>
    <td nz-td>{{data.stock}}</td>
    <td nz-td>{{data.visit_total}}</td>
    <td nz-td [class]="dataTool.strTransBool(data.on_sale,'onsale')?'sta_normal':'sta_del'">{{data.on_sale=="ON_SALE"?"上架":"下架"}}</td>
    <td nz-td><span><a (click)="skipToPage('/good-detail',data.id)">编辑</a></span></td>
  </tr>
  </tbody>
</nz-table>

