<div class="orderList_tool">
  <nz-input [nzType]="'text'" [nzPlaceHolder]="'商品名字或收件人名字'" [nzSize]="'large'"
            [(ngModel)]="searchKey" [class]="'search_input'">
    <ng-template #addOnAfter>
      <i class="anticon anticon-search search" (click)="search()"></i>
    </ng-template>
  </nz-input>
  <!--  <button nz-button [nzType]="'danger'" class="btn" (click)="delete()">
      <i class="anticon anticon-close"></i>
    </button>-->
  <a style="margin-left:8px;font-size:12px;" (click)="isCollapse =!isCollapse">
    条件
    <i  [class]="!isCollapse?'anticon anticon-down':'anticon anticon-up'"></i>
  </a>
</div>
<nz-card class="condition_template" [class.hide]="!isCollapse">
  <ng-template #body>
    <form nz-form>
      <div nz-row [nzGutter]="40">
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label>订单编号</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-input [nzSize]="'large'" [nzPlaceHolder]="'订单编号'"
                        [(ngModel)]="condition.orderNo" name="orderNo" ></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label >时间</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-datepicker style="width: 50%;"  [(ngModel)]="condition.startDate" [nzDisabledDate]="disabledStartDate" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'开始时间'" name="start"></nz-datepicker>
              <nz-datepicker style="width: 47%;"  [(ngModel)]="condition.endDate" [nzDisabledDate]="disabledEndDate" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'结束时间'" name="end"></nz-datepicker>`
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label>收件人手机号</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-input [(ngModel)]="condition.phone" [nzPlaceHolder]="'收件人手机号'" name="phone"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label >支付类型</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-select [nzSize]="'large'" [(ngModel)]="condition.payType"
                         [nzPlaceHolder]="'支付类型'"
                         nzAllowClear
                         [style.height]="'29px'" name="payType">
                <nz-option [nzLabel]="'支付宝'" [nzValue]="'ALI_PAY'"></nz-option>
                <nz-option [nzLabel]="'微信 '" [nzValue]="'WE_CHAT_PAY'"></nz-option>
                <nz-option [nzLabel]="'信用卡'" [nzValue]="'CREDIT_PAY'"></nz-option>
                <nz-option [nzLabel]="'储蓄卡'" [nzValue]="'DEPOSIT_PAY'"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label >订单状态</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-select [nzSize]="'large'" [(ngModel)]="condition.orderStatus"
                         [nzPlaceHolder]="'订单状态'"
                         nzAllowClear
                         [style.height]="'29px'" name="orderStatus">
                <nz-option [nzLabel]="'待付款 '" [nzValue]="'UN_PAY'"></nz-option>
                <nz-option [nzLabel]="'待发货'" [nzValue]="'UN_DELIVERY'"></nz-option>
                <nz-option [nzLabel]="'待收货'" [nzValue]="'UN_RECEIVE'"></nz-option>
                <nz-option [nzLabel]="'已完成'" [nzValue]="'DONE'"></nz-option>
                <nz-option [nzLabel]="'申请退款'" [nzValue]="'REFUND'"></nz-option>
                <nz-option [nzLabel]="'已关闭'" [nzValue]="'CLOSING'"></nz-option>
                <nz-option [nzLabel]="'待评价'" [nzValue]="'UN_ESTIMATE'"></nz-option>
                <nz-option [nzLabel]="'已评价'" [nzValue]="'ESTIMATE'"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label >订单类型</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-select [nzSize]="'large'" nzAllowClear [(ngModel)]="condition.orderType"  [nzPlaceHolder]="'订单类型'"  [style.height]="'29px'" name="orderType">
                <nz-option [nzLabel]="'pc订单'" [nzValue]="'PC_ORDER'"></nz-option>
                <nz-option [nzLabel]="'手机订单'" [nzValue]="'MOBILE_ORDER'"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div style="text-align: center">
      <button nz-button [nzType]="'primary'" (click)="search()">
        <i class="anticon anticon-search"></i><span>搜索</span>
      </button>
    </div>
  </ng-template>
</nz-card>
<nz-table #orderListTable [nzAjaxData]="orderList" [nzPageSize]="page.pageSize" [nzPageIndex]="page.pageNo"
          [nzShowSizeChanger]="true" [nzShowTotal]="true"
          (nzPageIndexChange)="pageChangeHandler($event)" [nzTotal]="page.total"
          [nzShowQuickJumper]="true" (nzPageSizeChange)="pageSizeChangeHandler($event)">
  <thead nz-thead>
  <tr>
    <th nz-th><span>图片</span></th>
    <th nz-th><span>订单编号</span></th>
    <th nz-th><span>订单类型</span></th>
    <th nz-th><span>支付类型</span></th>
    <th nz-th><span>状态</span></th>
    <th nz-th><span>订单金额</span></th>
    <th nz-th><span>优惠金额</span></th>
    <th nz-th><span>创建时间</span></th>
    <th nz-th><span>操作</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of orderListTable.data;let index = index;">
    <td nz-td><img [src]="picUrl+data.good_main_image.replace('.','_60x60.')" alt="" class="list_pic"></td>
    <td nz-td>{{data.order_no}}</td>
    <td nz-td>{{data.order_type=="PC_ORDER"?"pc订单":"手机订单"}}</td>
    <td nz-td>{{dataTool.getPayTypeStr(data.pay_type)}}</td>
    <td nz-td  [class]="data.order_status=='CLOSING'||data.order_status=='REFUND'?'err':'success'">{{dataTool.getOrderStatusStr(data.order_status)}}</td>
    <td nz-td>{{dataTool.fTransYuan(data.order_fee)}}</td>
    <td nz-td>{{dataTool.fTransYuan(data.reduce_fee)}}</td>
    <td nz-td>{{data.create_date}}</td>
    <td nz-td class="order_list_action">
      <span><a (click)="skipToPage('/order-detail',data.id)">编辑</a></span>
      <span *ngIf="data.order_status=='REFUND'?true:false"><a (click)="returnMoneySuccessConfirm(data.id,modalSuccess,data.total_fee,modalTitle)">同意退款</a></span>
      <span *ngIf="data.order_status=='REFUND'?true:false"><a (click)="returnMoneyFailConfirm(data.id,modalFail,modalTitle)">拒绝退款</a></span>
      <span *ngIf="data.order_status=='UN_DELIVERY'?true:false"><a (click)="openDeliveyModal(data.id)">发货 </a></span>
    </td>
  </tr>
  </tbody>
</nz-table>
<ng-template #modalTitle>
  <p style="text-align: center">操作提示</p>
</ng-template>
<ng-template #modalSuccess>
  <div style="text-align: center">
    退款金额:<nz-input-number [(ngModel)]='returnMoney' [nzMin]="0" [style.width]="'60%'"></nz-input-number>
  </div>
</ng-template>
<ng-template #modalFail>
  <div style="text-align: center;">
    拒绝原因:<nz-input [(ngModel)]='failRemark' [style.width]="'60%'"></nz-input>
  </div>
</ng-template>
<nz-modal  [nzVisible]="isDeliveryShow"
          [nzContent]="deliveryModal" [nzFooter]="footer"
         (nzOnCancel)="isDeliveryShow=false;" [nzTitle]="modalTitle">
  <ng-template #deliveryModal>
    <form nz-form class="deliveryForm">
      <div nz-row>
        <div nz-col nz-row [nzSpan]="24">
          <label nz-form-label nz-form-item-required nz-col [nzSpan]="6">运单号</label>
          <div nz-form-item nz-col [nzSpan]="15" [nzOffset]="1">
            <nz-input [(ngModel)]="deliveryObj.deliveryNo" name="deliveyNo"></nz-input>
          </div>
        </div>
        <div nz-col nz-row [nzSpan]="24">
          <label nz-form-label nz-form-item-required nz-col [nzSpan]="6" >快递公司名</label>
          <div nz-form-item nz-col [nzSpan]="15" [nzOffset]="1">
            <nz-input [(ngModel)]="deliveryObj.expressName" name="expressName"></nz-input>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template  #footer>
    <button nz-button [nzType]="'primary'" (click)="sendGoood()">确认</button>
  </ng-template>
</nz-modal>


