<div class="search_tool">
  <button nz-button [nzType]="'primary'" (click)="openModal(addPic)">
    <span>新增</span>
  </button>
</div>
<nz-table #picTable [nzAjaxData]="picList" [nzPageSize]="page.pageSize"
          [nzPageIndex]="page.pageNo" [nzShowSizeChanger]="true" [nzShowTotal]="true"
          (nzPageIndexChange)="pageChangeHandler($event)"
          [nzTotal]="page.total" [nzShowQuickJumper]="true" (nzPageSizeChange)="pageSizeChangeHandler($event)">
  <thead nz-thead>
  <tr>
    <th nz-th [nzWidth]="'100px'"><span>图片</span></th>
    <th nz-th [nzWidth]="'100px'"><span>地址</span></th>
    <th nz-th [nzWidth]="'100px'"><span>操作</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of picTable.data;let index = index;">
    <td nz-td>
      <img [src]="httpData.PicUrl+data.url" alt="" class="list_pic">
    </td>
    <td nz-td>{{httpData.PicUrl+ data.url}}</td>
    <td nz-td class="pic_list_action">
      <span><a (click)="scan(data.url,detailPic)">查看</a></span>
      <span nz-table-divider></span>
      <span><a (click)="delPic(data.url)" class="sta_del">删除</a></span>
    </td>
  </tr>
  </tbody>
</nz-table>
<ng-template #addPic>
  <div class="modal-body">
    <upload-pic (uploadSuccess)="uploadSuccess($event)" (delSuccess)="delSuccess($event)"
                [alt]="'点击上传'" [type]="6" ></upload-pic>
  </div>
</ng-template>

<ng-template #detailPic>
  <img src="{{detailUrl}}" alt="" style="width: 100%;height:100%;">
</ng-template>
