/*图片*/
.pic_content{
  margin-bottom: 60px;
}
.pic_contain{
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 30%;
  text-align: center;
}
.upload_tip{
  position: absolute;
  top:40%;
  left: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.unique{
  width: 100%;
}

/*图片配置*/
.pic_config{
  display: inline-block;
  width: 68%;
}
.pic_wapper{
  margin: 0 auto;
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid #f1f1f1;
}
.pic{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.pic_file_input{
  width: 150px;
  height: 150px;
  position: absolute;
  top:0;
  opacity: 0;
  cursor: pointer;
}
.img_modal{
  display: inline-block;
  width: 150px;
  height: 150px;
  position: absolute;
  top:0;
  left: 0;
  font-size:0;
  line-height: 150px;
}
.img_modal:hover{
  font-size:20px;
  background:#000;
  opacity: 0.8;
}
.del_icon{
  color: #fff;
  cursor: pointer;
}
