<div class="pic_content">
  <form nz-form>
    <div class="pic_contain" [class.unique]="type=='0'?false:true">
      <div class="pic_wapper">
        <img src="{{imgPreview}}" alt="" class="pic">
        <span class="upload_tip" *ngIf="!isUpload" >{{alt}}</span>
        <input type="file" class="pic_file_input" (change)="imgUpload($event)"  *ngIf="!isUpload">
        <div class="img_modal" *ngIf="isUpload">
          <i class="anticon anticon-delete del_icon" (click)="delPic()"></i>
        </div>
      </div>
    </div>
    <div class="pic_config" *ngIf="type=='0'?true:false" >
      <div nz-row [nzGutter]="40">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label nz-form-item-required>水印</label>
            </div>
            <div nz-col [nzSpan]="19">
              <nz-switch [(ngModel)]="imgObj.watermark" name="watermark" [style.height]="'25.6px'">
                <span checked>是</span>
                <span unchecked>否</span>
              </nz-switch>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label nz-form-item-required>裁剪</label>
            </div>
            <div nz-col [nzSpan]="19">
              <nz-switch [(ngModel)]="imgObj.cut" name="cut" [style.height]="'25.6px'">
                <span checked>是</span>
                <span unchecked>否</span>
              </nz-switch>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="20">
          <div nz-form-item nz-row>
            <div nz-col [nzSpan]="5">
              <label nz-form-label >裁剪尺寸</label>
            </div>
            <div nz-col [nzSpan]="19">
                <nz-checkbox-group [(ngModel)]="imgSizeList" (ngModelChange)="selectImgSize($event)" name="imgSizeList"></nz-checkbox-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
