<div class="brand_tool">
  <nz-input [nzType]="'text'" [nzPlaceHolder]="'输入关键字'" [nzSize]="'large'"
            [(ngModel)]="searchKey" [class]="'search_input'">
    <ng-template #addOnAfter>
      <i class="anticon anticon-search search" (click)="search()"></i>
    </ng-template>
  </nz-input>
  <button nz-button [nzType]="'danger'" class="btn_search_tool  btn-danger" (click)="outStore()">
    <span>下架</span>
  </button>
  <button nz-button [nzType]="'primary'" class="btn_search_tool" (click)="inStore()">
    <span>上架</span>
  </button>
  <button nz-button [nzType]="'primary'" class="btn_search_tool" (click)="skipToPage('/brand-add')">
    <span>新增</span>
  </button>
</div>
<nz-table #brandTable [nzAjaxData]="brandList" [nzPageSize]="page.pageSize"
          [nzPageIndex]="page.pageNo" [nzShowSizeChanger]="true" [nzShowTotal]="true"
          (nzPageIndexChange)="pageChangeHandler($event)"
          [nzTotal]="page.total" [nzShowQuickJumper]="true" (nzPageSizeChange)="pageSizeChangeHandler($event)">
  <thead nz-thead>
  <tr>
    <th nz-th [nzCheckbox]="true">
      <label #checkboxAll nz-checkbox  [(ngModel)]="checkAll"  (ngModelChange)="selectItem(checkAll,brandList,0)">
      </label>
    </th>
    <th nz-th><span>图片</span></th>
    <th nz-th><span>品牌名</span></th>
    <th nz-th><span>品牌简称</span></th>
    <th nz-th><span>创建时间</span></th>
    <th nz-th><span>状态</span></th>
    <th nz-th><span>操作</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of brandTable.data;let index = index;">
    <td nz-td [nzCheckbox]="true">
      <label #checkbox  nz-checkbox [(ngModel)]="data.checked"  (ngModelChange)="selectItem(data.checked,data.id,1,index)">
      </label>
    </td>
    <td nz-td><img [src]="picUrl+data.brand_image" alt="" class="list_pic"></td>
    <td nz-td>{{data.brand_name}}</td>
    <td nz-td>{{data.short_name}}</td>
    <td nz-td>{{data.create_date|date:"yyyy-mm-dd hh:mm:ss"}}</td>
    <td nz-td  [class]="dataTool.strTransBool(data.status,'quit')?'sta_normal':'sta_del'">{{data.status=="ENTER"?"入驻":"退驻"}}</td>
    <td nz-td class="brand_list_action">
      <span><a (click)="skipToPage('/brand-detail',data.id)">编辑</a></span>
    </td>
  </tr>
  </tbody>
</nz-table>



