.order_item{
  color: rgba(0, 0, 0, 0.65)!important;
  width: 100%;
  display: inline-block;
  font-size: 14px;
}
.card{
  margin-bottom: 50px;
}
.card_title{
  text-align: center;
  font-size: 18px;
}
